<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ガチャを引くだけ</title>
</head>
<body>
    <h3>取得したカードは</h3>
    <ul>
        <% draw.forEach(function(card) { %>
            <li><%= card %></li>
        <% }) %>
    </ul>
    <p>現在<%= total %>回引きました</p>
    <p>SSR以上を<%= sr %>枚獲得しています</p>
    <p>USSRを<%= ur %>枚獲得しています</p>
    <form action="/gatya" method="get"> 
        <!--ボタンが押された時に実行するサーバのURL-->
        <input type="radio" name="radio" id="radio1" value="1">
        <label for="radio1">1回引く</label>
        <br>
        <input type="radio" name="radio" id="radio2" value="2">
        <label for="radio2">10+1回引く(SR以上1枚確定！)</label>
        <br>
        <input type="hidden" name="total" value="<%= total %>">
        <input type="hidden" name="high" value="<%= sr %>">
        <input type="hidden" name="ur" value="<%= ur %>">
        <!--フォームの情報を表示しないけど保持してね-->
        <input type="submit" values="Ready">
    </form>
    <p></p><a href="/public/gatya.html">はじめに戻る</a></p>
    <p></p><a href="/public/index.html">目次に戻る</a></p>
</body>
</html>