<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>じゃんけん</title>
</head>
<body>
    <p>あなたの手は<%= your %>です．</p>
    <p>コンピュータは<%= cpu %>です．</p>
    <p>判定：<%= judgement %></p>
    <p>現在<%= total %>試合中<%= win %>勝しています．</p>
    <hr>
    <form action="/janken"> 
        <!--ボタンが押された時に実行するサーバのURL-->
        <input type="text" name="hand" required>
        <!--input type=textは入力欄を表す,nameで受け取る　reは書きなさい-->
        <label for="hand">次は何を出す？</label>
        <input type="hidden" name="win" value="<%= win %>">
        <input type="hidden" name="total" value="<%= total %>">
        <!--フォームの情報を表示しないけど保持してね-->
        <input type="submit" values="じゃんけん　ポン">
    </form>   
    <p></p><a href="/public/index.html">ホームに戻る</a></p>
</body>
</html>