<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>自販機</title>
</head>
<body>
    <p>ラッキールーレットの結果は......<%= luck %>!!</p>
    <p><%= com %></p>
    <p><%= your %>が<%= hon %>本出てきました</p>
    <p>現在<%= total %>本入手しています</p>
    <hr>
    <form action="/jihanki" method="get"> 
        <!--ボタンが押された時に実行するサーバのURL-->
        <input type="text" name="drink" required>
        <label for="hand">次は何を買いますか？</label>
        <input type="hidden" name="total" value="<%= total %>">
        <!--フォームの情報を表示しないけど保持してね-->
        <input type="submit" values="ガコン">
    </form>   
    <p></p><a href="/public/jihanki.html">はじめに戻る</a></p>
    <p></p><a href="/public/index.html">目次に戻る</a></p>
</body>
</html>